<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>CurrencyServlet</servlet-name>
        <servlet-class>com.ohrim.servlet.currency.CurrencyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CurrencyServlet</servlet-name>
        <url-pattern>/currencies</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReceiveCurrencyServlet</servlet-name>
        <servlet-class>com.ohrim.servlet.currency.ReceiveCurrencyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReceiveCurrencyServlet</servlet-name>
        <url-pattern>/currency/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddCurrencyServlet</servlet-name>
        <servlet-class>com.ohrim.servlet.currency.AddCurrencyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddCurrencyServlet</servlet-name>
        <url-pattern>/addCurrency</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>GetExchangeRatesServlet</servlet-name>
        <servlet-class>com.ohrim.servlet.exchange.GetExchangeRatesServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>GetExchangeRatesServlet</servlet-name>
        <url-pattern>/exchangeRates</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReceiveExchangeRateServlet</servlet-name>
        <servlet-class>com.ohrim.servlet.exchange.ReceiveExchangeRateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ReceiveExchangeRateServlet</servlet-name>
        <url-pattern>/exchangeRate/*</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>AddExchangeRateServlet</servlet-name>
        <servlet-class>com.ohrim.servlet.exchange.AddExchangeRateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddExchangeRateServlet</servlet-name>
        <url-pattern>/addExchangeRate</url-pattern>
    </servlet-mapping>



</web-app>